# the name of this file must match the one in pypi.org config
name: Build/Test/Release
on:
  release:
    types:
      - published
permissions:
  id-token: write # This is required for requesting the JWT
jobs:
  source_dist_build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        compiler: [clang++-17]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Main Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Main Build
        uses: ./.github/actions/build
        env:
          BUILD_OS: ${{ matrix.os }}
          CXX: ${{ matrix.compiler }}
      - name: Publish source dist release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.12.4
  wheels_build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        max: [none]
        include:
          - os: macos-13
            max: 13.0
          - os: macos-14
            max: 14.0
          - os: macos-15
            max: 15.0
    steps:
      - uses: actions/checkout@v4
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23.2
        with:
          config-file: "{package}/pyproject.toml"
        env:
          MACOSX_DEPLOYMENT_TARGET: ${{ matrix.max }}
      - name: Publish wheel release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.12.4
        with:
          packages-dir: wheelhouse
